nav {
  background-color: rgb(204,204,204);  /* 20% gray */
  display: flex;
  justify-content: center;
}

nav button {
  text-transform: uppercase;
}

button {
  background: rgb(204,204,204);  /* 20% gray */
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Barlow", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -moz-appearance: none;
  -webkit-appearance: none;
}

button:hover,
button:focus {
    background: rgb(77,77,77);
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -2px;
}

button:active {
    transform: scale(0.99);
}
